/*GERAL CONFIG*/
@charset "UTF-8";
@font-face {
	font-family: Seasrn;
	src: url(SEASRN.ttf);
};

* {
	margin:0; 
	padding: 0;
}

body {
	top: 0;
	height: 0;
}

*:focus {
    outline: none;
}

div.background {
        color: #999999;
    	position: fixed;
    	top: 0;
    	left: 0;
    	z-index: -100;
}

/*TIME CONFIG*/
#time {
	color: #fff;
	font-family: Open Sans;
	font-size: 40px;
	text-align: center;
	position: relative;
	margin-left:auto;
	margin-right:0;
	width: 120px;
	padding: 10px;
}

#time img {
	width: 42px;
	filter: invert(100%);
}

/*SEARCH CONFIG*/
div.search {
	top: 0;
	left: 0;
	background-color: #00000030;
	border: solid 1px #fff;
	border-radius: 6px;
	width: 500px;
	height: 40px;
	margin: auto;
	margin-top: 20%;
}

form div.search input.searchButton {
	display: block;
	margin-left: auto;
	margin-right: 10px;
	width: 40px;
	filter: invert(100%);
}

form div.search input.searchText {
	color: #fff;
	margin-top: 3px;
	display: block;
	margin-left: 10px;
  	float:left;
  	background-color: transparent;
  	padding-left:5px;
  	font-style:italic;
  	font-size:18px;
  	border:none;
  	height:32px;
  	width:430px;
}

::placeholder {
	color: #D1D1D1;
}

/*BOOKMARK CONFIG*/
#bookmark {
	margin-top: 1%;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#crunch {
	margin-left: 10px;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#crunch:hover {
	box-shadow: 3px 3px 10px #00000030;
    -webkit-box-shadow: 3px 3px 5px #00000030;
    -moz-box-shadow: 3px 3px 5px #00000030;
	border: solid 1px #00000000;
	border-radius: 6px;
	background-color: #ffffff;
}

#crBg {
	width: 80px;
}

#youtube {
	margin-left: 10px;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#youtube:hover {
	box-shadow: 3px 3px 10px #00000030;
    -webkit-box-shadow: 3px 3px 5px #00000030;
    -moz-box-shadow: 3px 3px 5px #00000030;
	border: solid 1px #00000000;
	border-radius: 6px;
	background-color: #ffffff;
}

#ytbBg {
	width: 80px;
}

#twitch {
	margin-left: 10px;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#twitch:hover {
	box-shadow: 3px 3px 10px #00000030;
    -webkit-box-shadow: 3px 3px 5px #00000030;
    -moz-box-shadow: 3px 3px 5px #00000030;
	border: solid 1px #00000000;
	border-radius: 6px;
	background-color: #ffffff;
}

#twBg {
	width: 80px;
}

/*#youtube {
	height: 80px;
	display: inline;
	margin-left: auto;
	margin-right: auto;
}

#twitch {
	height: 59px;
	margin-left: 10px;
	margin-right: auto;
	margin-bottom: 11px;
}*/

/*FOOTER CONFIG*/
footer {
	font-family: Open Sans;
	background: #00000000;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	color: #fff;
	text-shadow: #00000047 1px 1px 1px;
}