/*GERAL CONFIG*/
@charset "UTF-8";
@font-face {
	font-family: Seasrn;
	src: url(SEASRN.ttf);
};

* {
	margin:0;
	padding: 0;
}

body {
	top: 0;
	height: 0;
}

*:focus {
    outline: none;
}

#bg {
	z-index: -1;
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: auto;
	top: 0;
	left: 0;
	background: url("/assets/img/bg.jpg") center center / cover no-repeat fixed;
}

/*TIME CONFIG*/
#time {
	color: #fff;
	font-family: Open Sans;
	font-size: 40px;
	text-align: center;
	position: relative;
	margin-left:auto;
	margin-right:0;
	width: 120px;
	padding: 10px;
}

#time img {
	width: 42px;
	filter: invert(100%);
}

/*SEARCH CONFIG*/
div.search {
	top: 0;
	left: 0;
	background-color: #00000030;
	border: solid 1px #fff;
	border-radius: 6px;
	height: auto;
	width: 480px;
  margin-left: auto;
  margin-right: auto;
	margin-top: 20%;
}

form div.search input.searchButton {
	display: block;
	margin-left: auto;
	margin-right: 10px;
	width: 40px;
	filter: invert(100%);
}

form div.search input.searchText {
	color: #fff;
	margin-top: 3px;
	display: block;
	margin-left: 10px;
  float:left;
	background-color: transparent;
  padding-left:5px;
	font-style:italic;
	font-size:18px;
	border:none;
	height:32px;
	width:400px;
}

::placeholder {
	color: #D1D1D1;
}

/*BOOKMARK CONFIG*/
#bookmark {
	margin-top: 1%;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#crunch {
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#crunch:hover {
	background-color: #fff;
	border-top-left-radius: 10px;
	border-radius: 10px;
	animation-name: hover;
	animation-duration: 0.25s;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#crBg {
	width: 80px;
}

#youtube {
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#youtube:hover {
	background-color: #fff;
	border-top-left-radius: 10px;
	border-radius: 10px;
	animation-name: hover;
	animation-duration: 0.25s;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#ytbBg {
	width: 80px;
}

#icons8 {
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#icons8:hover {
	background-color: #fff;
	border-top-left-radius: 10px;
	border-radius: 10px;
	animation-name: hover;
	animation-duration: 0.25s;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#i8Bg {
	width: 80px;
}

/*FOOTER CONFIG*/
footer {
	font-family: Open Sans;
	background: #00000000;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	color: #fff;
	text-shadow: #00000047 1px 1px 1px;
}
